<div class="navbar navbar-inverse">
    <footer class="content-info" role="contentinfo" style="display: block;">
        <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <h5>Social Links</h5>
            </div>
               <div class="col-xs-4">
                <h5 class="copyright">© 2017 Phillstack</h5>
            </div>
                <div class="col-xs-4">
                    <h5>Phillstack <small>Web &amp; App Development</small></h5>
                </div>
            </div>
        </div>
    </footer>
</div>