<div class="container">
    <img class="projects" src="../../assets/projects.jpg" alt="">
</div>
<br>
<div class="container">
    <div class="row">
       <div class="col-md-8">
            <img class="boombox" src="../../assets/boombox.jpg" alt="">
        </div>
        <div class="col-md-4">
            <h2>Boombox Cartel</h2>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h2>Barber Dude</h2>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-8">
            <img class="barber" src="../../assets/barber.jpg" alt="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <img class="msdos" src="../../assets/MSDOS.jpg" alt="">
        </div>
        <div class="col-md-4">
            <h2>Brian Magazu</h2>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>
<br>