<div class="container">
    <div class="row">
        <div class="col-md-12"></div>
           <div class="col-md-6 float-right contactForm">
            <h2>Contact Us!</h2>
            <form method="post">
                <fieldset class="form-group">
                    <input type="name" class="form-control" id="name" name="name" placeholder="Enter your name">
                </fieldset>
                <fieldset class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control" id="content" name="message" placeholder="Enter your message"></textarea>
                </fieldset>
                <section title="subscribeButton">
                    <div class="subscribe">
                        <input type="checkbox" value="None" id="subscribe" name="check" checked />
                        <label for="subscription">Subscribe to get Phillstack updates!</label>
                    </div>
                </section>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>