/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    padding-top: 70px;
}

body {
    min-height: 100%;
}

.navbar-inverse, .navbar-toggle {
    background-color: rgba(0,0,0,0.75);
    color: floralwhite;
}