<div class="container">
    <img class="laTech" src="../../assets/laTech.jpeg" alt="">
</div>
   <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Web Development</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-sm-8">
            <img class="macbook" src="../../assets/macbook.png" alt="Macbook Web Development Software">
        </div>
    </div>
    <br>
    <div id="appDev" class="row">
        <div class="col-sm-8">
            <img class="phone" src="../../assets/galaxy.png" alt="Samsung Phone">
        </div>
        <div class="col-sm-4">
            <h2>App Development</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h2>Design &amp; Functionality</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-sm-4">
            <img class="design" src="../../assets/design.jpeg" alt="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 center">
           <img class="SEO" src="../../assets/SEO.jpg" alt="SEO">
            <h4>SEO</h4>
            <p>Some Text</p>
        </div>
        <div class="col-sm-4 center">
           <img class="analytics" src="../../assets/analytics.jpg" alt="Analytics">
            <h4>Analytics</h4>
            <p>Some Text</p>
        </div>
        <div class="col-sm-4 center">
           <img class="speed" src="../../assets/speed.jpg" alt="Speed">
            <h4>Speed</h4>
            <p>Some Text</p>
        </div>
    </div>
</div>